<h1><%= @task.title %></h1>
<p><%= @task.description %></p>
<p><%= @task.company %></p>

<%= link_to 'Home', root_path %>
<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Delete', task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %>
